.ec-badge {
  line-height: 1;
  width: fit-content;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  text-transform: capitalize;
  border: 1px solid transparent;
  font-size: var(--ec-fs-rg);
  font-weight: var(--ec-regular);
  border-radius: var(--border-radius-rg);
  padding: var(--padding-sm) var(--padding-rg);
  margin: 1px;
}

.ec-badge-primary {
  @extend .ec-badge;
  color: var(--primary-600);
  background-color: var(--primary-300);
}

.ec-badge-primary-solid {
  @extend .ec-badge;
  color: var(--white-color);
  background-color: var(--primary-500);
}

.ec-badge-primary-light {
  @extend .ec-badge;
  color: var(--primary-500);
  background-color: var(--primary-200);
}

.ec-badge-primary-thin {
  @extend .ec-badge;
  color: var(--primary-500);
  border: 1px solid var(--primary-500);
}

.ec-badge-secondary {
  @extend .ec-badge;
  color: var(--secondary-600);
  background-color: var(--secondary-300);
}

.ec-badge-secondary-solid {
  @extend .ec-badge;
  color: var(--white-color);
  background-color: var(--secondary-500);
}

.ec-badge-secondary-light {
  @extend .ec-badge;
  color: var(--secondary-500);
  background-color: var(--secondary-200);
}

.ec-badge-secondary-thin {
  @extend .ec-badge;
  color: var(--secondary-500);
  border: 1px solid var(--secondary-500);
}

.ec-badge-success {
  @extend .ec-badge;
  color: var(--green-600);
  background-color: var(--green-300);
}

.ec-badge-success-solid {
  @extend .ec-badge;
  color: var(--white-color);
  background-color: var(--green-500);
}

.ec-badge-success-light {
  @extend .ec-badge;
  color: var(--green-500);
  background-color: var(--green-200);
}

.ec-badge-success-thin {
  @extend .ec-badge;
  color: var(--green-500);
  border: 1px solid var(--green-500);
}

.ec-badge-danger {
  @extend .ec-badge;
  color: var(--red-600);
  background-color: var(--red-300);
}

.ec-badge-danger-solid {
  @extend .ec-badge;
  color: var(--white-color);
  background-color: var(--red-500);
}

.ec-badge-danger-light {
  @extend .ec-badge;
  color: var(--red-500);
  background-color: var(--red-200);
}

.ec-badge-danger-thin {
  @extend .ec-badge;
  color: var(--red-500);
  border: 1px solid var(--red-500);
}

.ec-badge-warning {
  @extend .ec-badge;
  color: var(--yellow-600);
  background-color: var(--yellow-300);
}

.ec-badge-warning-solid {
  @extend .ec-badge;
  color: var(--black-color);
  background-color: var(--yellow-500);
}

.ec-badge-warning-light {
  @extend .ec-badge;
  color: var(--yellow-500);
  background-color: var(--yellow-200);
}

.ec-badge-warning-thin {
  @extend .ec-badge;
  color: var(--yellow-500);
  border: 1px solid var(--yellow-500);
}

.ec-badge-info {
  @extend .ec-badge;
  color: var(--cyan-600);
  background-color: var(--cyan-300);
}

.ec-badge-info-solid {
  @extend .ec-badge;
  color: var(--white-color);
  background-color: var(--cyan-500);
}

.ec-badge-info-light {
  @extend .ec-badge;
  color: var(--cyan-500);
  background-color: var(--cyan-200);
}

.ec-badge-info-thin {
  @extend .ec-badge;
  color: var(--cyan-500);
  border: 1px solid var(--cyan-500);
}

.ec-badge-light {
  @extend .ec-badge;
  color: var(--black-color);
  background-color: var(--white-color);
}

.ec-badge-dark {
  @extend .ec-badge;
  color: var(--white-color);
  background-color: var(--black-color);
}

.ec-badge-link {
  @extend .ec-badge;
  color: var(--blue-500);
  border: 1px solid none;
}