@import "assets/css/theme.scss";

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color) !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: unset;
  text-decoration: none !important;
}

.ec-shadow {
  box-shadow: var(--box-shadow);
}